/*
Custom CSS style layout page.
  INDEX:
  1. General Styles
  2. Cover
*/

/*
1. General Styles
*/
body {background: #0f0f0f;}

/*
2. Cover
*/
header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../images/space.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}